.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.p{
    color: var(--color-text-secondary);
    font-size: var(--font-lg);
    font-weight: var(--font-weight-bold);
    position: relative;
    top: 1.5rem;
}

.title{
    font-size: var(--font-4xl);
    font-weight: var(--font-weight-bold);
}

.blocks_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    margin: 0 20px;

}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--bg-color-invert);
    border-radius: 15px;
    padding: 1.5rem;
}

.block__img{
    width: 24px;
    height: 24px;
}

.description{
    color: var(--color-text-secondary);
    width: 60%;
    margin: 0 auto;
    font-size: var(--font-md);
}

.block__title{
    font-weight: var(--font-weight-bold);
}

@media  screen and (max-width: 1200px) {
    .description{
        width: 85%;
    }
}

@media  screen and (max-width: 800px) {
    .blocks_container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .description{
        width: 70%;
    }
}

@media  screen and (max-width: 600px) {
    .contact_list {
        flex-direction: column;
    }
}