
.header{
    display: flex;
    align-items: center;
}

.wrapper{
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.header__open_button{
    width: 45px;
    height: 45px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__open_button.active{
    transform: rotate(90deg);
}

.header__title{
    font-size: var(--font-xl);
}

.header__open_button img{
    height: 40px;
    width: 40px;
}

.header__button{
    width: 40px;
    height: 40px;
}

.header__button img{
    width: 40px;
    height: 40px;
}

.edit_button{
    margin-left: auto;
}

.title_block__button{
    display: flex;
    margin-left: 10px;
    transition: 0.2s ease transform;
    width: 32px;
    height: 32px;
}

.title_block__button img{
    height: 32px;
    width: 32px;
}

.buttons{
    margin-bottom: 10px;
}

.button{
    padding: .5rem .75rem;
    margin-right: 10px;
}

.title_block__button.active{
    transform: rotate(45deg);
}

.header_wrapper{
    border: 1px solid;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.title_block__button{
    display: flex;
    margin-left: 10px;
    transition: 0.2s ease transform;
    width: 32px;
    height: 32px;
}

.title_block__button.active{
    transform: rotate(45deg);
}

.title_block{
    display: flex;
}

.title_block__button img{
    height: 32px;
    width: 32px;
}



.title {
    font-size: var(--font-lg);
}

.content {
    font-size: var(--font-md);
}

.field {
    margin-top: 20px;
}

.field__input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0%);
}

.select {
    width: 200px;
}

.field__input:focus {
    border: 1px solid var(--bg-color-invert);
}

.buttons {
    margin-top: 10px;
}

.button {
    margin-right: 10px;
    padding: .5rem .75rem;
}

